# How to create Pandas DataFrame

## DataFrame = 2d labelled array

In [2]:
import pandas as pd
a=[1,2,3,4]
df1 = pd.DataFrame(a)
df1

   0
0  1
1  2
2  3
3  4

In [3]:
b=[[1,2,3],[6,7,8],['a','b','c']]
df2 = pd.DataFrame(b)
df2

   0  1  2
0  1  2  3
1  6  7  8
2  a  b  c

In [6]:
dict1 ={'ID':[1,2,3,4],'NAME':["NARWAY","RISHI","ANAND","MOHAN"]}
dict1

{'ID': [1, 2, 3, 4], 'NAME': ['NARWAY', 'RISHI', 'ANAND', 'MOHAN']}

In [7]:
df3 = pd.DataFrame(dict1)
df3

   ID    NAME
0   1  NARWAY
1   2   RISHI
2   3   ANAND
3   4   MOHAN

In [28]:
dict2=[{1:'a' , 2:'b'},{1:'c',3:'d'}]
df4 =pd.DataFrame(dict2)
df4

   1    2    3
0  a    b  NaN
1  c  NaN    d